*{
    margin: 0px;
    font-family: 'inter';
}

#menu-superior{
    background-color: #303030;
    width: 1440px;
    height: 475px;
}

#titulo-menu-superior{
    color:#FFFFFF;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -0,025px;
    margin: 0px 0px 20px 62px;
    padding-top: 206px;
}

#texto-menu-superior{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    margin-left: 62px;
}

#menu-informacional{
    background-color: #F9F9F9;
    width: 1272px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    font-size: 20px;
    font-weight: 400;
    padding-top: 96px;
    padding-left: 171px;
    padding-bottom: 67px;
}

.numeros{
    font-weight: 600;
    font-size: 40px;
}

#historia{
    margin-top: 190px;
    margin-left: 77px;
    padding-right: 54px;
 }

#titulo-historia{
    font-weight: 500;
    font-size: 40px;
    line-height: 20px;
}

#texto-historia{
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
}

.column-historia{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin-top: 82px;
    width: 1376px;
    padding-right: 66px;
}

#cadastro-dados{
    background-color: #303030;
    height: 638px;
    width: 1440px;
    margin-top: 66px;
    text-align: center;
}

input{
    width: 508px;
    height: 72px;
    color: #2e2c2c;
    margin: 20px;
    border: 0px;
    border-radius: 10px;
    padding-left: 15px;
}

#titulo-formulario{
font-weight: 700;
font-size: 32px;
color: #FFFFFF;
padding-top: 87px;
padding-bottom: 60px;
}

button{
    background-color: #C07212;
    width: 286px;
    height: 74px;
    font-size: 30px;
    font-weight: 300;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
}

button:hover{
    transform: translateY(-8px);
    transition-duration: 0.5s;
}